.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: $color-header-background;
    //box-shadow: inset 0 -1px 0 0 rgba(black, 0.25), 0 2px 0 rgba(black, 0.1);
    text-overflow: ellipsis;
    color: $color-header-content;
}

.Header-left {
    display: flex;
    align-items: center;
}

.Header-title {
    @include link-default(inherit, none);
    padding: 0.75rem 1rem;
    font-size: 1.125rem; // 18px
    line-height: (24 / 18);
    white-space: nowrap;
}

.Header-dropdown {
    position: relative;
    display: inline-block;

    &.is-open .Header-dropdown-content {
        display: block;
    }
}

.Header-dropdown__title {
    cursor: pointer;

    &:hover,
    &:focus,
    .is-open & {
        background: $purple-l;
    }
}

.Header-dropdownTitle {
    font-size: 20px;
    margin-bottom: 1em;
}

.Header-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color: $color-text;
    background-color: $color-background-offset;
    min-width: 240px;
    padding: 30px;
    z-index: 1;

    .btn {
        margin-top: 2em;
    }
}

.Header-button {
    width: 48px;
    height: 48px;
    padding: 14px;
    text-align: center;
    color: $white;
    outline: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &--border-right {
        border-right: 1px solid darken($purple, 5%);
    }

    &--border-left {
        border-left: 1px solid darken($purple, 5%);
    }

    .Header-dropdown.is-open & {
        background: $purple-l;
    }
}

.Header-buttonIcon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.Header-buttonIconInner {
    top: 50%;
    margin-top: -.125em;
    transform: rotate(225deg);

    &,
    &:after,
    &:before {
        transition: all .3s ease;
        content: "";
        display: block;
        width: 100%;
        height: .25em;
        position: absolute;
        background: currentColor;
        border-radius: 99em;
    }

    &:before,
    &:after {
        top: 50%;
        margin-top: -.125em;
    }

    &:after {
        transform: rotate(90deg);
    }

    .Frame.is-closed & {
        transform: rotate(0);

        &:before {
            top: -.64em;
            margin-top: .125em;
            transform: rotate(0);
        }

        &:after {
            top: .64em;
            margin-top: -.125em;
            transform: rotate(0);
        }
    }
}
