.logo {
    font-size: 16px;
    display: block;
    padding: 12px 14px;
    color: $color-header-content;
    overflow: hidden;
    text-decoration: none;

    &:hover {
        color: $color-header-content;
    }
}

.logo__text {
    display: inline-block;
    vertical-align: top;
    font-family: $font-family-heading;
    font-size: 1em;
    color: $color-header-content;
    text-transform: uppercase;
}

.logo__pebble {
    display: inline-block;
    vertical-align: top;
    width: 1.3125em;
    height: 1.4375em;
    background-repeat: no-repeat;
    background-image: url("../img/logo-pebble-inverse.svg");
    background-size: 100% auto;
}
