.Props {
    margin-bottom: 20px;
}

.Props-content {
    display: none;

    .Props.is-open & {
        display: block;
    }
}

.Props-button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
