.form-search {
    position: relative;

    &__input {
        width: 100%;
        height: 30px;
        box-sizing: inherit;
        padding: 0 30px 0 30px;
        border: 2px solid $grey-l;
        border-radius: 99em;
        outline: none;
        background-color: $white;
        color: $text-color-base;
        font-size: 12px;
        font-weight: 400;

        &::placeholder {
            opacity: 1;
            color: $grey-d;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__action {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 30px;
        padding: 2px 5px 0 10px;
        border: none;
        outline: none;
        background-color: transparent;

        .icon {
            font-size: 14px;
        }

        &:hover,
        &:focus {
            color: $purple;
        }
    }

    .form-textfield__icon--clear {
        display: none;
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 14px;
        color: $black;

        &:hover {
            color: $purple;
        }

        &.is-visible {
            display: block;
        }
    }

    &--big {
        .form-search__input {
            height: 46px;
            font-size: 16px;
            padding: 0 35px 0 35px;
        }

        .form-search__action {
            height: 46px;
            padding: 2px 5px 0 14px;

            .icon {
                font-size: 16px;
            }
        }

        .form-textfield__icon--clear {
            font-size: 16px;
            top: 10px;
            right: 14px;
        }
    }
}
