.Tree-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.Tree-collection {
    &.is-closed {
        background-color: transparent;

        .Tree-collectionItems {
            display: none;
        }

        .Tree-collectionLabel {
            color: $color-text;
        }

        .Tree-collectionIcon {
            transform: rotate(0);
        }
    }

    &.is-hidden {
        display: none;
    }
}

.Tree-collectionLabel {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    color: $color-ui-active;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    margin-top: -1px;

    &:hover {
        color: $color-ui-hover;
    }

    .Tree-depth-3 & {
        border-color: transparent;
    }
}

.Tree-collectionIcon {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 12px;
    height: 12px;
    content: "";
    transform: rotate(180deg);
}

.Tree-item {
    font-size: 14px;

    &.is-hidden {
        display: none;
    }
}

.Tree-entityLink {
    display: flex;
    align-items: center;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;
    color: $color-text;

    &:hover {
        color: $color-ui-hover;
    }

    .is-current & {
        color: $color-ui-active;
    }
}

.Tree-collectionItems {
    padding-left: 20px;
}
